/** @format */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;

  background-color: black;
  text-align: left;
  padding: 20px;
  color: white;
  flex-wrap: nowrap;
  flex-basis: 100%;
}

h1::first-letter {
  color: rgb(167, 18, 18);
}

h1::after {
  content: '/>';
  color: rgb(167, 18, 18);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  color: white;
  background-color: rgb(167, 18, 18);
  overflow: hidden;
}

.navLinks {
  overflow: inherit;
  background-color: rgb(167, 18, 18);
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  flex-basis: 0;
}

.navLinks:hover {
  display: flex;
  flex-basis: 100%;
  background-color: rgb(128, 14, 14);
}

.topArticles {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  flex-wrap: wrap;
}
