/** @format */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;

  background-color: black;
  text-align: left;
  padding: 0px;
  padding-left: 20px;
  color: white;
  flex-wrap: nowrap;
  flex-basis: 100%;
  font-size: 25px;
  padding-bottom: 0px;
}

h1::first-letter {
  color: rgb(167, 18, 18);
}

h1::after {
  content: '/>';
  color: rgb(167, 18, 18);
}

.secondHeader {
  margin: 40px;
  margin-bottom: 20px;
  font-size: 30px;
}

.secondHeader::first-letter {
  color: rgb(167, 18, 18);
}

.secondHeader::after {
  content: ' />';
  color: rgb(167, 18, 18);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  color: white;
  background-color: rgb(167, 18, 18);
  overflow: hidden;
  padding: 0px;
}

.navLinks {
  overflow: inherit;
  background-color: rgb(167, 18, 18);
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  flex-basis: 0;
  padding: 0px;
}

.navLinks:hover {
  display: flex;
  flex-basis: 100%;
  background-color: rgb(128, 14, 14);
  text-decoration: none;
}

.topArticles-container {
  display: grid;
}

.preview-grid {
  margin: 20px;
  margin-left: 40px;
  box-shadow: 0px 0px 25px -15px rgba(89, 86, 92, 0.78);
  border-radius: 25px;
}

.innertext {
  padding: 10px;
}

.sortBy {
  margin-left: 50px;
}

.articleTitle {
  color: black;
  text-decoration: none;
  margin-bottom: 0px;
}

.articleTitle:hover {
  color: rgb(128, 14, 14);
  text-decoration: none;
  transition-duration: 0.2s;
}

.articleTitle:hover::after {
  content: ' />';
  transition-duration: 0.2s;
}

.articleTitle:hover::before {
  content: '<';
  transition-duration: 0.2s;
}

.articleTitle:active {
  color: rgb(128, 14, 14);
}

.articleSub {
  font-weight: bold;
  font-size: 12px;
  padding-top: 0px;
}

.articleSub-link {
  color: black;
  text-decoration: none;
}

.articleSub-link:hover {
  color: rgb(128, 14, 14);
  transition-duration: 0.2s;
}

.articleSub-link:hover::after {
  content: ' />';
}

.articleSub-link:hover::before {
  content: '<';
}

button {
  background-color: rgb(233, 222, 222);
  border: none;
  color: black;
  padding: 6px;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(182, 66, 66);
  color: white;
  transition-duration: 0.2s;
}

aside {
  float: left;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voter {
  padding: 5px;
}

button:hover:disabled {
  background-color: grey;
}
